
$distance: 450px;

@mixin blur() {
  content: "";
  position: absolute;
  width: 40px;
  height: 112%;
  background-color: #1c1c1c;
  filter: blur(11px);
  z-index: 100;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; 
  max-width: 80%;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  &::before {
    @include blur();
    left: -20px;
  }
  &::after {
    @include blur();
    right: -20px;
  }
}

.main-left {
  animation: mainCommentAnimationLeft 1.3s forwards;
}

@keyframes mainCommentAnimationLeft {
  from {
    right: 0;
  }
  to {
    right: -$distance;
    transform: scale(0.9);
    background-color: rgba(61, 207, 183, 0.123);
  }
}

.preview-left {
  animation: previewCommentAnimationLeft 1.3s forwards;
}

@keyframes previewCommentAnimationLeft {
  from {
    right: 0;
  }
  to {
    right: -$distance;
    transform: scale(1);
    background-color: rgba(61, 207, 183, 0.3);
  }
}

.next-left {
  animation: nextCommentAnimationLeft 1.3s forwards;
}

@keyframes nextCommentAnimationLeft {
  from {
    right: 0;
  }
  to {
    right: -$distance;
    transform: scale(1);
  }
}

.main-right {
  animation: mainCommentAnimationRight 1.3s forwards;
}

@keyframes mainCommentAnimationRight {
  from {
    right: 0;
  }
  to {
    right: $distance;
    transform: scale(0.9);
    background-color: rgba(61, 207, 183, 0.123);
  }
}

.preview-right {
  animation: previewCommentAnimationRight 1.3s forwards;
}

@keyframes previewCommentAnimationRight {
  from {
    right: 0;
  }
  to {
    right: $distance;
  }
}

.next-right {
  animation: nextCommentAnimationRight 1.3s forwards;
}

@keyframes nextCommentAnimationRight {
  from {
    right: 0;
    transform: scale(0.9);
  }
  to {
    right: $distance;
    transform: scale(1);
    background-color: rgba(61, 207, 183, 0.3);
  }
}

.scale-left {
  position: absolute;
  left: -100%;
  top:-1px
}

.scale-right {
  position: absolute;
  right: -100.3%;
  top: -1px;
}

@media screen and (max-width: 900px) {
  .carousel{
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
    overflow: visible;
  }
}
