<section>
    <div appScrollAnimation="fade-in" class="profile-picture fade-in" >
      <img class="profile-picture_background" src="assets/img/profile/background.svg" alt=""/>
      <img class="profile-picture_profil" src="assets/img/profile/profile.jpg" alt="Profilbild" />
    </div>
    <div appScrollAnimation="slide-in-right" class="slide-in-right content-about">
      <div>
        <h4>{{ "about_title" | translate }}</h4>
        <div class="content-container">
          <h3>{{ "about_header" | translate }}</h3>
          <span>{{ "about_text" | translate }} </span>
          <div class="description">
            <img src="assets/img/profile/my_location.png" alt="" />
            <span>{{ "location" | translate }}</span>
          </div>
          <div class="description">
            <img src="assets/img/profile/cognition.png" alt="" />
            <span>{{ "cognition" | translate }}</span>
          </div>
          <div class="description">
            <img src="assets/img/profile/new_releases.png" alt="" />
            <span>{{ "new_releases" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  