<section>
    <h1>{{ 'legal_notice.title' | translate }}</h1>
    <h2 id="m46">{{ 'legal_notice.headline.name' | translate}}</h2>
    <p>Stefan Kondratschin</p>
    <p>73035 Göppingen</p>
    <p>Germany</p>
  
    <h2 id="m56">{{ 'legal_notice.headline.contact' | translate }}</h2>
    <p>{{ 'legal_notice.contact.email' | translate }}<a href="mailto:info@kondratschin.de"> info&#64;kondratschin.de</a></p>
    <p>{{ 'legal_notice.contact.phone' | translate }} <a href="tel:+491771985226">+491771985226</a></p>
  
    <h2 id="m174">{{ 'legal_notice.headline.law' | translate }}</h2>
    <p>{{ 'legal_notice.law.text' | translate }}
     
    </p>
  
    <h2 id="m172">{{ 'legal_notice.headline.social_media' | translate }}</h2>
    <p>{{ 'legal_notice.social_media.text' | translate }}
    
    </p>
    <p>
      <a href="https://github.com/kondratschin" target="_blank"
        >https://github.com/kondratschin</a
      >
    </p>
    <p>
      <a
        href="https://www.linkedin.com/in/kondratschin/"
        target="_blank"
        >https://www.linkedin.com/in/kondratschin/</a
      >
    </p>
  
    <h2 id="m5234">{{ 'legal_notice.headline.data_mining' | translate }}</h2>
    <p>{{ 'legal_notice.data_mining.text' | translate }}</p>
  
    <h2 id="m65">{{ 'legal_notice.headline.rights' | translate }}</h2>
    <p>{{ 'legal_notice.rights.text_1' | translate }}
     
    </p>
    <p>{{ 'legal_notice.rights.text_2' | translate }}
    
    </p>
  
    <h2 id="m169">{{ 'legal_notice.headline.picture' | translate }}</h2>
    <p>{{ 'legal_notice.picture.text_1' | translate }}</p>
    <p>{{ 'legal_notice.picture.text_2' | translate }} Stefan Kondratschin</p>
  
    <p class="seal">
      <a
        href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
        target="_blank"
        rel="noopener noreferrer nofollow"
        >{{ 'legal_notice.genaerator_text' | translate }}</a
      >
    </p>
  </section>
