@import "./../../styles.scss";

section {
  @include arrangement($fd: column, $ai: flex-start);
  padding: 112px;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

p {
  padding: 24px 0;
}

.project-description {
  @include arrangement($ai: flex-start, $jc: space-between);
  width: 100%;
  gap: 5%;
  position: relative;
  > button {
    cursor: pointer;
    width: 100%;
    @include arrangement($jc: space-between);
    padding: 40px 32px;
    background-color: transparent;
    border: solid var(--color-selected);
    border-width: 1px 0 1px 0;
    font-size: 18px;
    font-weight: 400;
    > span {
      font-family: "Fira Code";
      font-size: 24px;
      font-weight: 700;
      width: max-content;
    }
    &:hover {
      background-color: var(--color-selected-hover-light);
    }
  }
}

.project-wrapper {
  @include arrangement($fd: row, $ai: center, $g: 32px);
  width: 100%;
}

.projects-info {
  @include arrangement($fd: column, $ai: flex-start);
  width: 100%;
}

.preview-container {

  min-width: 400px;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  margin-top: 10px;
  background-image: url("../../assets/img/profile/background.svg");
  background-size: cover;
  border-radius: 20px;


  width: 100%;
  > img {
    position: relative;
    top: -10px;
    right: 10px;
    border-radius: 20px;
    // width: 90$;
width: 100%;
    // height: 90%;
  }
}

.separator {
  gap: 10px;
}

.green-separator {
  width: 1px;
  height: 20px;
  background-color: #3dcfb6;
}

.show-arrow {
  display: flex !important;
}

df-i {
  display: flex !important;
}

.dialogue {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 999;
  @include arrangement();
  animation: slideIn 500ms forwards ease-in-out;
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media screen and (max-width: 1350px) {
  .background-preview {
    right: -1%;
  }
  .preview-img {
    right: 0;
  }
  section {
    padding: 64px;
  }
}

@media screen and (max-width: 960px) {
  section {
    flex-direction: column;
    padding: 16px;

    > img {
      width: 100%;
      padding-bottom: 32px;
    }
  }

  .project-list {
    > button {
      flex-direction: column;
      align-items: start;
      padding: 24px 0;
      gap: 12px;
      width: 100%;
    }
  }
  .separator {
    font-size: 14px;
  }
}
