<section>
    <h3> {{ 'privacy_policy.title' | translate}}</h3>
    <p> {{ 'privacy_policy.update' | translate}}</p>
    <p> {{ 'privacy_policy.paragraph_1_1' | translate}}</p>
    <p> {{ 'privacy_policy.paragraph_1_2' | translate}} <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Free Privacy Policy Generator</a>.</p>
    <h2>{{ 'privacy_policy.interpretation_definition.headline' | translate}}</h2>
    <h5>{{ 'privacy_policy.interpretation_definition.interpretation.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.interpretation_definition.interpretation.paragraph' | translate}}</p>
    <h5>{{ 'privacy_policy.interpretation_definition.definition.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.interpretation_definition.definition.paragraph' | translate}}</p>
    <ul>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.account' | translate}}</strong> {{ 'privacy_policy.interpretation_definition.definition.list.description.account' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.affiliate' | translate}}</strong> {{ 'privacy_policy.interpretation_definition.definition.list.description.affiliate' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.company' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.company' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.cookies' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.cookies' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.country' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.country' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.device' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.device' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.personal_data' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.personal_data' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.service' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.service' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.service_provider' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.service_provider' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.using_date' | translate}}</strong> {{ 'privacy_policy.interpretation_definition.definition.list.description.using_date' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.website' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.website' | translate}} <a href="https://www.kondratschin.de/" rel="external nofollow noopener" target="_blank">https://www.kondratschin.de/</a></p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.interpretation_definition.definition.list.you' | translate}}</strong>{{ 'privacy_policy.interpretation_definition.definition.list.description.you' | translate}} </p>
    </li>
    </ul>
    <h2>{{ 'privacy_policy.collective.headline' | translate}}</h2>
    <h5>{{ 'privacy_policy.collective.types.headline' | translate}}</h5>
    <h6>{{ 'privacy_policy.collective.types.personal_data.headline' | translate}}</h6>
    <p>{{ 'privacy_policy.collective.types.personal_data.paragraph.text' | translate}}</p>
    <ul>
    <li>
    <p>{{ 'privacy_policy.collective.types.personal_data.paragraph.email' | translate}}</p>
    </li>
    <li>
    <p>{{ 'privacy_policy.collective.types.personal_data.paragraph.name' | translate}}</p>
    </li>
    <li>
    <p>{{ 'privacy_policy.collective.types.personal_data.paragraph.using' | translate}}</p>
    </li>
    </ul>
    <h6>{{ 'privacy_policy.collective.types.using_data.headline' | translate}}</h6>
    <p>{{ 'privacy_policy.collective.types.using.paragraph.text_1' | translate}}</p>
    <p>{{ 'privacy_policy.collective.types.using.paragraph.text_2' | translate}}</p>
    <p>{{ 'privacy_policy.collective.types.using.paragraph.text_3' | translate}}</p>
    <p>{{ 'privacy_policy.collective.types.using.paragraph.text_4' | translate}}</p>
    <h2>{{ 'privacy_policy.tracking.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.tracking.pragraph.text_1' | translate}}</p>
    <ul>
    <li><strong>{{ 'privacy_policy.tracking.list.cokies' | translate}}</strong> {{ 'privacy_policy.tracking.list.description.cokies' | translate}}</li>
    <li><strong>{{ 'privacy_policy.tracking.list.beacons' | translate}}</strong>{{ 'privacy_policy.tracking.list.description.becons' | translate}} </li>
    </ul>
    <p>{{ 'privacy_policy.tracking.pragraph.text_2' | translate}} <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">Free Privacy Policy website</a> </p>
    <p>{{ 'privacy_policy.tracking.pragraph.text_3' | translate}}</p>
    <ul>
    <li>
    <p><strong>{{ 'privacy_policy.tracking.list.essential_cookies.headline' | translate}}</strong></p>
    <p>{{ 'privacy_policy.tracking.list.essential_cokies.text_1' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.essential_cokies.text_2' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.essential_cokies.text_3' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.tracking.list.policy_cookies.headline' | translate}}</strong></p>
    <p>{{ 'privacy_policy.tracking.list.policy_cookies.text_1' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.policy_cookies.text_2' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.policy_cookies.text_3' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.tracking.list.functionality_cookies.headline' | translate}}</strong></p>
    <p>{{ 'privacy_policy.tracking.list.functionality_cookies.text_1' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.functionality_cookies.text_2' | translate}}</p>
    <p>{{ 'privacy_policy.tracking.list.functionality_cookies.text_3' | translate}}</p>
    </li>
    </ul>
    <p>{{ 'privacy_policy.tracking.list.functionality_cookies.text_4' | translate}}</p>
    <h5>{{ 'privacy_policy.personal_data.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.personal_data.paragraph_text_1' | translate}}</p>
    <ul>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_2_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_2' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_3_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_3' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_4_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_4' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_5_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_5' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_6_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_6' | translate}}</p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_7_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_7' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_8_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_8' | translate}} </p>
    </li>
    <li>
    <p><strong>{{ 'privacy_policy.personal_data.paragraph_text_9_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.paragraph_text_9' | translate}}</p>
    </li>
    </ul>
    <p>{{ 'privacy_policy.personal_data.share.paragraph.headline' | translate}}</p>
    <ul>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_1_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_1' | translate}} </li>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_2_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_2' | translate}} </li>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_3_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_3' | translate}} </li>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_4_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_4' | translate}} </li>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_5_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_5' | translate}} </li>
    <li><strong>{{ 'privacy_policy.personal_data.share.paragraph_text_6_strong' | translate}}</strong>{{ 'privacy_policy.personal_data.share.paragraph_text_6' | translate}}</li>
    </ul>
    <h5>{{ 'privacy_policy.personal_retention.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.personal_retention.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_retention.paragraph_text_2' | translate}}</p>
    <h5>{{ 'privacy_policy.personal_transfer.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.personal_transfer.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_transfer.paragraph_text_2' | translate}}</p>
    <p>{{ 'privacy_policy.personal_transfer.paragraph_text_3' | translate}}</p>
    <h5>{{ 'privacy_policy.personal_delete.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.personal_delete.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_delete.paragraph_text_2' | translate}}</p>
    <p>{{ 'privacy_policy.personal_delete.paragraph_text_3' | translate}}</p>
    <p>{{ 'privacy_policy.personal_delete.paragraph_text_4' | translate}}</p>
    <h5>{{ 'privacy_policy.personal_disclosure.headline' | translate}}</h5>
    <h2>{{ 'privacy_policy.personal_disclosure.transactions.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_disclosure.transactions.paragraph_text' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_disclosure.law_enforcement.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_disclosure.law_enforcement.paragraph_text' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_disclosure.other_legal.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_disclosure.other_legal.paragraph_text' | translate}}</p>
    <ul>
    <li>{{ 'privacy_policy.personal_disclosure.other_legal.list_text_1' | translate}}</li>
    <li>{{ 'privacy_policy.personal_disclosure.other_legal.list_text_2' | translate}}</li>
    <li>{{ 'privacy_policy.personal_disclosure.other_legal.list_text_3' | translate}}</li>
    <li>{{ 'privacy_policy.personal_disclosure.other_legal.list_text_4' | translate}}</li>
    <li>{{ 'privacy_policy.personal_disclosure.other_legal.list_text_5' | translate}}</li>
    </ul>
    <h5>{{ 'privacy_policy.personal_security.headline' | translate}}</h5>
    <p>{{ 'privacy_policy.personal_security.paragraph_text' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_security.children.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_security.children.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_security.children.paragraph_text_2' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_security.links_other_website.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_security.links_other_website.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_security.links_other_website.paragraph_text_2' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_security.changes.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_security.changes.paragraph_text_1' | translate}}</p>
    <p>{{ 'privacy_policy.personal_security.changes.paragraph_text_2' | translate}}</p>
    <p>{{ 'privacy_policy.personal_security.changes.paragraph_text_3' | translate}}</p>
    <h2>{{ 'privacy_policy.personal_security.contact.headline' | translate}}</h2>
    <p>{{ 'privacy_policy.personal_security.contact.paragraph_text_1' | translate}}</p>
    <ul>
    <li>{{ 'privacy_policy.personal_security.contact.email' | translate}} <a href="mailto:info@kondratschin.com">info&#64;kondratschin.com</a></li>
    </ul>
    </section>