@import "./../../styles.scss";

section {
  padding: 112px;
}
a {
  color: var(--color-selected);
  &:hover {
    color: var(--color-selected-hover);
  }
}
h2 {
  font-size: 32px;
  margin: 24px 0px;
  color: var(--color-selected);
  font-weight: 700;
}

h5 {
  font-size: 24px;
  margin: 12px 0;
  color: var(--color-selected);
  font-weight: 500;
}
h6 {
  color: var(--color-selected);
  font-size: 18px;
  margin: 8px 0;
}

@media screen and (max-width: 1110px) {
  h3 {
    font-size: 48px;
  }
}

@media screen and (max-width: 900px) {
  section {
    padding: 12px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 20px;
  }
}
